*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    max-width: 1000px;
    background-color: rgb(238, 238, 238);
}
.firstline{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    background-color: white;
}
.tasks {
    margin-top: 20px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1em;
    background: white;
  }
.tasks div{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 100px;
    background:lightgreen;
    border-radius: 3px;
}