.tasks div{
    justify-content: center;
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 300px;
    background:lightgreen;
    border-radius: 3px;
}

.back {
    display: flex;
    justify-content: flex-end;
}



.enter {
    display: flex;
    justify-content: center;
}

.input {
    display: none;
}

input:checked + label > div {
    background-color: rgb(248, 82, 82);
}