*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    max-width: 1000px;
    background-color: rgb(238, 238, 238);
    font-family: 'Open Sans', sans-serif;
}
.firstline{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    background-color: white;
}
.search{
    margin: 10px 10px 10px 0px;
    background-color: white;
    
}
.tasks {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1em;
    background: white;
  }
.tasks div{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 100px;
    background:lightgreen;
    border-radius: 3px;
}
.modal__close{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.modal__edit img{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    bottom:10px;
}
div.add_new{
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 200px;
    height: 100px;
    background:white;
    justify-content: center;
    align-items: center;
    border: 2px double rgb(204, 196, 196);
    border-radius:5em;

}
.modal__add img{
    height: 30px;
    width: 30px;
}
